<!DOCTYPE html>
<html>
<head>
  <title>Pizza Shop</title>
</head>
<body>
  <nav>
    <ul>
      <li>
        <a href="/pizza-orders">Pizza orders</a>
        </li>
        </ul>
        </nav>
  <%= yield %>
</body>
</html>
